<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitVersionTask" version="3.6.5" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Toolkit.Uwp.Notifications" version="6.0.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
</packages>